
/* ----------- Color Variables --------- */
/* Looking for the color variables? They have been moved to the inline-styles file in the _includes folder, and pull variables from the site-settings folder in the _data folder.  */

/* Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom CSS */

*{
  border-color: initial;
}

html {
  scroll-behavior: smooth; /* this enables smooth scrolling between internal links */
}
/* ----------- Default Styles to apply to the whole project  --------- */
:root{
  --beige: #F6F6EE;
  --watercolour: #D5CEBE; /* replace with image */
  /* cannot put spaces in arbitary value so make a variable */

}
.beige {
  background-color: var(--beige);
}

.watercolour {
  background-color: var(--watercolour);
}

/* SCROLL BAR ---------------------- */
:root /* Mozilla Firefox */{
  scrollbar-color: blacks #bebbac !important;
  scrollbar-width: thin !important;
}
:root:hover { scrollbar-color: black #bebbac !important;}
/* Chrome */
/* width */
::-webkit-scrollbar {
  width: 8px;
  height: 4px;
}
/* Track */
::-webkit-scrollbar-track { background: #bebbac;}
/* Handle */
::-webkit-scrollbar-thumb { background: black;}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover { background: #bebbac;}

/* HOW TO DECIDE - order in level of specifity
anything you want to override or is general as a base, next level component, specific class is a utility you don't want to change */
@layer base {
  p { margin-bottom: 1rem;}
  h1, h2, h3, h4 {
    font-family: 'Noto Sans JP', sans-serif;
  }
  p, a {
    font-family: 'Roboto', sans-serif;
  }
  h1 {
    font-weight: 800;
    font-size: 3rem;
    text-transform: uppercase;
    line-height: 0.9;
  }
  h2 {
    font-weight: 800;
    text-transform: uppercase;
    font-size: 2rem;
    line-height: 0.9;
  }
  h4 {
    font-weight: 400;
    font-size: 1rem;
    text-transform: uppercase;
  }
  /* header footer */
/*   header a {
    padding: 0.5rem 1rem;
    text-transform: uppercase;
    font-family: 'Noto Sans JP', sans-serif;
  }
  footer a {
    text-transform: uppercase;
    margin-bottom: 0.2rem;
    margin-right:0.4rem;
    display: block;
    font-size: 0.9rem;
  }
  footer h4 {
    font-weight: 800;
    @apply mb-2;
  }*/
  /* form */
  /* label, input, button, textarea {
    display: block;
  }
  label {
    @apply uppercase font-black;
  }
  input, textarea {
    margin-bottom: 1rem;
    color: black;
  }
  input:focus, textarea:focus {
    outline: none;
  }
  input::placeholder {
    @apply dark:text-white;
  }
  input::placeholder, textarea::placeholder {
    @apply text-black dark:text-white;
  }
  input {
    @apply dark:bg-transparent;
  }
  textarea {
    @apply dark:border dark:border-white dark:bg-transparent;
  } */
} 
@layer components {
/*   .button {
    padding: 0.5rem 1.5rem;
    text-transform: uppercase;
    display: inline-block;
    @apply bg-black text-white border dark:bg-white dark:text-black;

  }
  .button:hover {
    transition: all 0.2s;
    @apply bg-white text-black border-black dark:bg-black dark:text-white dark:border-white;
  }*/
} 
@layer utilities {
  .rotate-text-180 {
    writing-mode: vertical-lr;
/*     text-orientation: mixed;
    @apply rotate-180; */
  }  
  .shadow-x {
    -webkit-box-shadow: 11px 0 5px -8px rgba(0, 0, 0, 0.45), -11px 0 5px -8px rgba(0, 0, 0, 0.45);
    -moz-box-shadow : 11px 0 5px -8px rgba(0, 0, 0, 0.45), -11px 0 5px -8px rgba(0, 0, 0, 0.45);
    box-shadow: 11px 0 5px -8px rgba(0, 0, 0, 0.45), -11px 0 5px -8px rgba(0, 0, 0, 0.45);
  }
  .shadow-x-sm {
    -webkit-box-shadow: 4px 0 3px -1px rgba(0, 0, 0, 0.6), -4px 0 3px -1px rgba(0, 0, 0, 0.6);
    -moz-box-shadow : 4px 0 3px -1px rgba(0, 0, 0, 0.6), -4px 0 3px -1px rgba(0, 0, 0, 0.6);
    box-shadow: 4px 0 3px -1px rgba(0, 0, 0, 0.6), -4px 0 3px -1px rgba(0, 0, 0, 0.6);
  }
  .shadow-rb {
    -webkit-box-shadow: 4px 3px 6px 2px rgba(0,0,0,0.5);
    -moz-box-shadow: 4px 3px 6px 2px rgba(0,0,0,0.5);
    box-shadow: 4px 3px 6px 2px rgba(0,0,0,0.5);

  }
  .shadow-lt {
    -webkit-box-shadow: -4px 5px 6px 2px rgba(0,0,0,0.4);
    -moz-box-shadow: -4px 5px 6px 2px rgba(0,0,0,0.4);
    box-shadow: -4px 5px 6px 2px rgba(0,0,0,0.4);

  }
/* make sure cardtexture.png included!!! */
  .card-1 {
    @apply aspect-landscape relative   watercolour max-w-[45rem] mx-auto;
  }

/* can add more utilities */

  
}