<footer class="p-10 ">
    <div class="max-w-screen-xl mx-auto border-t-2  ">
        <div class="xs:grid xs:grid-cols-2 pb-8 pt-8 md:flex sm:justify-between">
            <div class="mb-8 sm:mb-0">
                <h4>lorem ipsum</h4>
                <nav class="mb-2">
                    <a href="">link 1</a>
                    <a href="">link 2</a>
                    <a href="">link 3</a>
                    <a href="">link 4</a>
                </nav>
            </div>
            <div class="mb-8 sm:mb-0">
                <h4 class="mb-2">lorem ipsum</h4>
                <nav>
                    <a href="">link 1</a>
                    <a href="">link 2</a>
                    <a href="">link 3</a>
                    <a href="">link 4</a>
                </nav>
            </div>
            <form class="shrink-0 mt-6 md:mt-0 md:text-right md:pl-[15%] col-span-2 ">
                <!-- col-start-2 pushes to rights -->
                <h4 class="block">
                    <label class="pl-0 " for="subscribe">Subscribe to our newsletter</label>                    
                </h4>
    
                <input id="subscribe" name="subscribe" type="text" class="border-2 border-black w-full dark:border-white">
                <!-- ml auto instead of text right and extra div -->
                <button type="submit" value="SUBSCRIBE" class="block ml-auto button  mt-5">Subscribe</button>   
    
            </form>
        </div>
            




    </div>

</footer>