<header class="pl-10 pr-10">
    <div class=" max-w-screen-xl mx-auto flex justify-between border-b-2 ">
        <a href="" class="uppercase pl-0"> of a company</a>
        <div class="text-right sm:hidden">
            <i class="fa fa-bars text-2xl leading-[2.5rem]"></i>
        </div>
        <nav class="hidden sm:flex justify-end space-x-2">
            <a href=""> Nav 1</a>
            <a href=""> Nav 2</a>
            <a href=""> Nav 3</a>
            <a href="" class="pr-0"> Nav 4</a>
        </nav>

    </div>
</header>